* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;}
p {
    background-color:rgb(255, 179, 179);
    padding: 20px;
    text-indent: 20px;}
ul {
    background-color:rgb(255, 179, 179);}
body {
    padding: 80px;
    color:rgb(255, 255, 255);
    background-color:rgb(255, 230, 230);}
h1,h2 {
    color: rgb(255, 128, 128);
    font-size: 20px;
    text-align: center;}
img.align-center {
     display: block;
     margin: 0px auto;}
img.medium {
    width: 401px;
    height: 475px;}

